<launch>
    <node pkg="interbotix_aic_control" type="interbotix_aic_control_PID_node" name="interbotix_aic_control_PID_node" required="true" />
    <rosparam command="load" file="$(find interbotix_aic_control)/config/PID_tuning.yaml" />

    <!--node pkg="rosbag" name="record" type="record" args="-a -o /home/alon/ros_workspaces/interbotix_pincherX_ws/src/interbotix_aic_control/bagfiles/waist/PID_VISC_FINAL_I.bag" required="true" /-->
</launch>